/* font-family: 'Lobster', cursive;
font-family: 'Londrina Outline', cursive;
font-family: 'Merienda One', cursive; */

body {
  background-color: black;
}

.navbar-brand {
  font-family: 'Lobster', cursive;
}

.title {
    position:absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    font-family: 'Merienda One', cursive;
    font-size: 30px;
    padding-top: 120px;
  }
 
  .caption {
    font-family: 'Merienda One', cursive;
    font-size: 15px;
  }

  img {
    border: 6px solid white;
  }
  
  .hightlight {
    box-shadow: crimson;
  }
  .mask .link {
    font-family: 'Merienda One', cursive;
    font-size: 30px;
  }

  #art {
    border: none;
  }

  /* Style inputs */
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(245, 239, 239);
    background-color: rgba(121, 116, 116, 0.438);
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #800a27;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    font-weight: bolder;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: rgb(255, 208, 0);
  }
  
  /* Style the container/contact section */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  /* Create two columns that float next to eachother */
  .column{
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 10px;
  }

  .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  
  .contact {
    background-color: black;
    background-image:url("./img/computer.jpg");
    background-size: cover;
  }
  
  label {
    color: rgb(255, 208, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    font-weight: bolder;
  }

   /*pic of code on right*/
   .code {
     background-color: black;
    background-image:url("./img/code.jpg");
    background-size:cover;
}
  
  a {
    color: white;
    font-family: 'Merienda One', cursive;
    font-size: 20px;
  }
  
  #a2 {
    color: rgb(255, 208, 0);
  }

 


 
  